.header {
    background-color: #404C4A;
    position: relative;
    text-align: center;
    width: 100%;
    height: 20vh;
    padding-top: 25px;
    margin-bottom: 10%;

    @media (max-width: 375px) {
        height: 30vh;
    }
}

.hrf-logo-img-container img {
    height: 64px;
    width: 98px;
    position: absolute;
    left: 0;
    margin-left: 2%;

    @media (max-width: 375px) {
        height: 30px;
        width: 48px;
        top: 0;
        left: 0;
        margin: 2% 2%;
    }
}

.header-text-container {
    text-align: center;
    width: 100%;
    align-items: center;
}

.header-text-container h1 {
    font-size: 3rem;
    color: #FFFFFF;
    font-family: 'moneta';

    @media (max-width: 375px) {
        font-size: 1.5rem;
        padding-top: 5%;
    }
}

.header-text-container h3 {
    font-family: 'beatrice';
    color: #FFFFFF;
    font-size: 1.2rem;

    @media (max-width: 375px) {
        font-size: .85rem;
        width: 75%;
        margin: 0 auto;
    }
}

.graphs-section {
    display: flex;
    justify-content: space-evenly;

    @media (max-width: 375px) {
        display: block;
        width: 100%;
    }
}

.grant-rates-by-office-graph-container {
    text-align: center;
    cursor: pointer;
    height: 165px;
    font-size: 1.5rem;

    @media (max-width: 375px) {
        margin-top: 20%;
        margin-bottom: 40%;
    }
}

.gr-office-img {
    height: 165px;
    width: 320px;
    margin-bottom: 10%;
}

.grant-rates-by-nationality-container {
    text-align: center;
    margin-bottom: 3%;
    cursor: pointer;
    font-size: 1.5rem;

    @media (max-width: 375px) {
        margin-bottom: 40%;
    }
}

.gr-nationality-img {
    height: 175px;
    width: 200px;
    margin-bottom: 7%;

    @media (max-width: 375px) {
        margin-bottom: 8%;
    }
}

.grant-rates-over-time-container {
    text-align: center;
    cursor: pointer;
    height: 165px;
    font-size: 1.5rem;

    @media (max-width: 375px) {
        margin-bottom: 40%;
    }
}

.gr-overtime-img {
    height: 165px;
    width: 300px;
    margin-bottom: 10%;
}

.view-more-data-btn {
    height: 44px;
    width: 180px;
    // background-color: #404C4A;
    margin: 0 auto;
    text-align: center;
    // border-radius: 15px;
    margin-bottom: 10%;
    // display: table;
    // cursor: pointer;
}

.view-more-data-btn p {
    color: #FFFFFF;
    display: table-cell;
    vertical-align: middle;
    font-size: 1.2rem;
}

.middle-section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    @media (max-width: 375px) {
        display: block;
        width: 100%;
        height: 75vh;
        background-color: #707070;
        padding-top: 15%;
        text-align: center;
    }
}

.hrf-img {
    height: 237px;
    width: 454px;
    border-radius: 10px;

    @media (max-width: 375px) {
        height: 169px;
        width: 324px;
    }
}

.middle-section-text-container {
    width: 964px;
    text-align: center;

    @media (max-width: 375px) {
        width: 85%;
        text-align: center;
        margin: 0 auto;
        padding-top: 10%;
    }
}

.middle-section-text-container h3 {
    font-family: 'acumin';
    font-size: 1.3rem;

    @media (max-width: 375px) {
        font-size: .95rem;
        color: #ffffff;
    }
}

.bottom-section {
    text-align: center;
    margin-top: 10%;
}

.bottom-section h1 {
    font-family: 'moneta';
    font-size: 3.5rem;
    margin-bottom: 10%;

    @media (max-width: 375px) {
        font-size: 2rem;
    }
}

.data-container {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 5%;

    @media (max-width: 375px) {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

}

.first-data-point-container {
    width: 433px;

    @media (max-width: 375px) {
        width: 85%;
        margin-bottom: 5%;
    }
}

.first-data-point-container h2 {
    font-family: 'beatrice';
    font-size: 3rem;
}

.second-data-point-container {
    width: 433px;

    @media (max-width: 375px) {
        width: 85%;
        margin-bottom: 5%;
    }
}

.second-data-point-container h2 {
    font-family: 'beatrice';
    font-size: 3rem;
}

.third-data-point-container h2 {
    font-family: 'beatrice';
    font-size: 3rem;
}

.third-data-point-container {
    width: 433px;

    @media (max-width: 375px) {
        width: 85%;
        margin-bottom: 5%;
    }
}

.read-more-btn {
    .view-more-data-btn();
}

.read-more-btn p {
    color: #FFFFFF;
    display: table-cell;
    vertical-align: middle;
    font-size: 1.2rem;
}

.back-to-top {
    width: 7%;
    font-size: 1.2rem;
    text-decoration: underline;
    cursor: pointer;
    color: black;
    margin: 5% auto;

    @media (max-width: 375px) {
        width: 35%;
    }
}

.ant-space-align-center {
    @media (max-width: 375px) {
      display: flex;
     flex-wrap: wrap;
    }
}

.ant-btn:hover {
   border-color: #707070 !important;
}